  /* Estilos Accesorios */
  .contenedor-accesorios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
}
  
.contenedor-accesorios img {
    width: 300px;
    height: 300px;
}
  
.contenedor-accesorios img:hover {
    transform: scale(1.1);
}
  
  .contenedor-accesorios img {
    transition: all 1s;
}