.form-container {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 5px solid yellowgreen;
    outline: none;
    width: 200px;
    transition: all 1s;
}
  
input:focus {
    border: 5px solid orangered;
    width: 400px;
}

textarea {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 5px solid yellowgreen;
    outline: none;
    transition: all 0.7s;
}
  
textarea:focus {
    border: 5px solid orangered;
}